@import "open-props/normalize";
@import "open-props/buttons";
@import "scss/all.scss";

body {
   display: grid;
   place-items: center;
   //
   font-family: var(--font-sans-custom-1);
   color: white;
   background-image: url("./images/bg-intro-mobile.png");
   background-color: hsl(var(--primary-1));
   font-size: var(--size-3);
}

.main.grid {
   padding-inline: var(--size-5);
   margin-block: var(--size-10);
}

.heading {
   font-family: inherit;

   text-align: center;
   margin-block-end: var(--size-5);

   &__title {
      color: white;
      font-size: var(--font-size-fluid-2);
      font-weight: weights("bold");
      max-inline-size: unset;
      margin-block-end: var(--size-4);
   }
   &__text {
      font-size: var(--font-size-fluid-0);
   }
}

.submission {
   &.grid {
      gap: var(--size-5);
   }

   &__pricing {
      width: 100%;
      background-color: hsl(var(--accent-1));
      color: hsl(var(--neutral-2));
      text-align: center;
      padding: var(--size-4) var(--size-4);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-custom-1);

      span {
         color: #fff;
         font-weight: weights("bold");
      }
   }

   &__form {
      width: 100%;
      font-size: var(--font-size-0);
      color: hsl(var(--gray-8-hsl));
      font-weight: weights("bold");
      background-color: white;
      padding: var(--size-4) var(--size-4);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-custom-1);

      & > * + * {
         margin-block: var(--size-2);
      }
   }
}

.form {
   &__input-wrapper {
      position: relative;
   }

   &__input {
      @extend %form-input;
   }

   &__label {
      @extend %form-label;
   }
}

.terms {
   display: flex;
   justify-content: center;
   //
   margin-block: var(--size-3) var(--size-4);

   &__text {
      color: hsl(var(--gray-5-hsl));
      font-size: var(--font-size-000);
      font-weight: weights("bold");
      text-align: center;
      padding-inline: var(--size-2);
   }
   span {
      color: hsl(var(--red-7-hsl));
   }
}

.cta {
   @extend %btn;
}

img.icon-error,
img.icon-check {
   position: absolute;
   right: 5%;
   top: 20%;
   transform: scale(0);

   transition: transform 0.2s cubic-bezier(0.55, 0.85, 0.65, 1.2);
}

@media only screen and (min-width: 375px) {
   body {
      background-image: url("./images/bg-intro-desktop.png");
      background-repeat: repeat;
   }
   .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
@media only screen and (min-width: 768px) {
   .main.grid {
      grid-auto-flow: column;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--size-9);
   }
   .heading {
      align-items: flex-start;
      //
      text-align: start;

      &__title {
         max-inline-size: 15ch;
      }
      &__text {
         max-inline-size: 50ch;
      }
   }
   .submission {
      &__form {
         padding: var(--size-6) var(--size-6);
      }
   }
   // .main.grid {
   //    grid-auto-flow: column;
   //    grid-template-columns: repeat(2, 1fr);
   //    gap: var(--size-10);
   //    //
   //    // max-width: 75.25rem;
   //    padding-inline: var(--size-8);
   // }

   // .heading {
   //    align-items: flex-start;
   //    text-align: start;

   //    h1 {
   //       max-inline-size: 15ch;
   //    }
   // }

   // .terms__text {
   //    font-size: var(--font-size-000);
   // }
}

@include media-prefers-theme-dark;
@include media-prefers-theme-light;
